<!-- <nav>
  <div class="container">
    <div class="logo">
      IPL Bidding App
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/admin" >Admin</a></li>
      <li><a routerLink="/organizer" >Organizer</a></li>
      <li><a (click)="logout()" >Logout</a></li>
    </ul>
  </div>
</nav> -->

<!-- <nav>
  <div class="container">
    <div class="logo">
      IPL Bidding App
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/signup" *ngIf="!isLoggedIn">Register</a></li>
      <li><a routerLink="/login" *ngIf="!isLoggedIn">Login</a></li>

      <li><a routerLink="/admin" *ngIf="isAdmin">Admin</a></li>
      <li><a routerLink="/organizer" *ngIf="isOrganizer">Organizer</a></li>
      <li><a (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
    </ul>
  </div>
</nav> -->

<!-- navbar.component.html -->
<nav>
  <div class="container">
    <div class="logo">
      IPL Bidding App
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>

      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/signup">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <li><a routerLink="/admin" *ngIf="isAdmin">Admin</a></li>
        <li><a routerLink="/organizer" *ngIf="isOrganizer">Organizer</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ng-container>
    </ul>
  </div>
</nav>



